# ignore all output
*.log
*.dot
*.aut
*.pdf
*.png
*.json
# ignore all object files
*.o
*.so
evaluation/*.o
.idea/
#ignore temp files
source/evaluators.h
source/evaluation/*.tmp
source/gitversion.cpp
# ignore binaries
./dfasat
./flexfringe
flexfringe
./lingeling
# py++ temporary files
exposed_decl.pypp.txt
named_tuple.py
indexing_suite/*
generated.cpp
gitversion.cpp
# articfacs
.DS_Store
flexfringe.dSYM/*
# data files
PAutomaC-competition_sets/*

# ignore private files
*.log
ICC.log
CTLS.log
# other files
processidentification/

#ignore test outputs
runtests
test-reports/

#Clion files
CMakeLists.txt
cmake-build-debug/

